Django>=2.1.4
requests>=2.20.1
matplotlib==3.0.1
numpy>=1.15.4
blosc>=1.6.2
tifffile>=2018.11.28
Pillow>=5.3.0
-e git+https://github.com/neurodata/django-oidc.git#egg=django-oidc
-e git+https://github.com/jhuapl-boss/drf-oidc-auth.git#egg=drf-oidc-auth
-e git+https://github.com/jhuapl-boss/boss-oidc.git#egg=boss-oidc